@import "tailwindcss";

:root {
  --background: #484c42;

}
@keyframes scroll-bounce {
  0%{
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-bounce {
  display: inline-block;
  animation: scroll-bounce 5s infinite ease-in ;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #0f172a;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
